<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->
[#function formatCount n]
	[#if n gte 1000000]
		[#return (n / 1000000)?string("0.#") + "M"]
	[#elseif n gte 1000]
		[#return (n / 1000)?string("0.#") + "K"]
	[#else]
		[#return n?c]
	[/#if]
[/#function]

[#assign scopeGroupId = themeDisplay.getScopeGroupId() /]
[#assign messagesData = restClient.get("/c/forummessages/scopes/" + scopeGroupId + "?pageSize=1&page=1")!"" /]
[#assign membersData = restClient.get("/c/forumstatsusers/scopes/" + scopeGroupId + "?pageSize=1&page=1")!"" /]

<div class="forums-statistics-panel card"
	id="forumsStatisticsPanel"
	data-label-unable-to-load="${languageUtil.get(locale, "unable-to-load-statistics", "Unable to load statistics.")}"
	data-label-unknown="${languageUtil.get(locale, "unknown", "Unknown")}"
	data-label-no-posters="${languageUtil.get(locale, "no-top-posters-yet", "No top posters yet.")}"
	data-label-x-post="${languageUtil.get(locale, "x-post", "{0} post")}"
	data-label-x-posts="${languageUtil.get(locale, "x-posts", "{0} posts")}"
	data-label-pagination="${languageUtil.get(locale, "leaderboard-pagination", "Leaderboard pagination")}">
	<div class="card-body">
		<h3 class="forums-statistics-panel__heading">${languageUtil.get(locale, "community-statistics", "Community Statistics")}</h3>

		<div class="forums-statistics-panel__aggregate row text-center">
			<div class="col-6">
				<span class="forums-statistics-panel__stat-value d-block">
					[#if messagesData?is_hash && messagesData.totalCount??]${formatCount(messagesData.totalCount)}[#else]0[/#if]
				</span>
				<span class="forums-statistics-panel__stat-label text-secondary">${languageUtil.get(locale, "messages", "Messages")}</span>
			</div>
			<div class="col-6">
				<span class="forums-statistics-panel__stat-value d-block">
					[#if membersData?is_hash && membersData.totalCount??]${formatCount(membersData.totalCount)}[#else]0[/#if]
				</span>
				<span class="forums-statistics-panel__stat-label text-secondary">${languageUtil.get(locale, "members", "Members")}</span>
			</div>
		</div>

		<h4 class="forums-statistics-panel__subheading mt-4">${languageUtil.get(locale, "top-posters", "Top Posters")}</h4>

		<ol class="forums-statistics-panel__leaderboard list-unstyled" id="forumsStatisticsPanelLeaderboard">
			<li class="forums-statistics-panel__loading text-secondary text-center py-3">${languageUtil.get(locale, "loading", "Loading...")}</li>
		</ol>

		<nav aria-label="${languageUtil.get(locale, "leaderboard-pagination", "Leaderboard pagination")}" id="forumsStatisticsPanelPagination" class="mt-3" style="display:none;">
			<ul class="pagination pagination-sm justify-content-center" id="forumsStatisticsPanelPaginationUl"></ul>
		</nav>
	</div>
</div>
