<!-- SPDX-License-Identifier: LGPL-2.1-or-later -->
[#function formatCount n]
	[#if n gte 1000000]
		[#return (n / 1000000)?string("0.#") + "M"]
	[#elseif n gte 1000]
		[#return (n / 1000)?string("0.#") + "K"]
	[#else]
		[#return n?c]
	[/#if]
[/#function]

[#assign scopeGroupId = themeDisplay.getScopeGroupId() /]
[#assign scopeGroup = themeDisplay.getScopeGroup() /]
[#assign sitePrefix = (themeDisplay.getPathFriendlyURLPublic()!"") + (scopeGroup.getFriendlyURL()!"") /]
[#assign messagesData = restClient.get("/c/forumthreads/scopes/" + scopeGroupId + "?pageSize=1&page=1")!"" /]
[#assign solutionsData = restClient.get("/c/forummessages/scopes/" + scopeGroupId + "?pageSize=1&page=1&filter=answer%20eq%20true")!"" /]
[#assign membersData = restClient.get("/c/forumstatsusers/scopes/" + scopeGroupId + "?pageSize=1&page=1")!"" /]

<div class="forums-hero">
	<div class="forums-hero__backdrop">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<h1 class="display-4 text-white mb-2">
						${languageUtil.get(locale, "forums-title")}
					</h1>
					<p class="lead text-white-50 mb-4">
						${languageUtil.get(locale, "forums-description")}
					</p>

					<div class="forums-hero__drop-zone">
						<lfr-drop-zone></lfr-drop-zone>
					</div>

					<div class="forums-hero__stats mb-4">
						<div class="row">
							<div class="col-4">
								<figure class="text-center mb-0 py-3">
									<span class="forums-hero__stat-value text-white">
										[#if solutionsData?is_hash && solutionsData.totalCount??]
											${formatCount(solutionsData.totalCount)}
										[#else]
											&mdash;
										[/#if]
									</span>
									<figcaption class="text-white-50 text-uppercase small mt-1">${languageUtil.get(locale, "solutions")}</figcaption>
								</figure>
							</div>
							<div class="col-4">
								<figure class="text-center mb-0 py-3">
									<span class="forums-hero__stat-value text-white">
										[#if messagesData?is_hash && messagesData.totalCount??]
											${formatCount(messagesData.totalCount)}
										[#else]
											&mdash;
										[/#if]
									</span>
									<figcaption class="text-white-50 text-uppercase small mt-1">${languageUtil.get(locale, "messages")}</figcaption>
								</figure>
							</div>
							<div class="col-4">
								<figure class="text-center mb-0 py-3">
									<span class="forums-hero__stat-value text-white">
										[#if membersData?is_hash && membersData.totalCount??]
											${formatCount(membersData.totalCount)}
										[#else]
											&mdash;
										[/#if]
									</span>
									<figcaption class="text-white-50 text-uppercase small mt-1">${languageUtil.get(locale, "participants")}</figcaption>
								</figure>
							</div>
						</div>
					</div>

					[#if messagesData?is_hash && messagesData.actions?? && (messagesData.actions["post"]?? || messagesData.actions["create"]??)]
						<a href="${sitePrefix}${configuration.messagesURL!"/forums-messages"}?compose=true" class="btn btn-primary btn-lg">
							${languageUtil.get(locale, "new-forum-message")}
						</a>
					[/#if]
				</div>
			</div>
		</div>
	</div>
</div>
